<div class="hemophilia_form_set">
  <table class="hemophilia_form_table" style="width:97.5%;">
    <tr>

      <td>
	  	  <div class="field">
     	    <%= comment_fields.check_box :atp %>
    	    <%= comment_fields.label :atp %>
    	  </div>
	  	</td>
			<td>
    	  <div class="field">
    	    <%= comment_fields.check_box :ttp %>
    	    <%= comment_fields.label :ttp %>
    	  </div>
	  	</td>
	  	<td>
    	  <div class="field">
    	    <%= comment_fields.check_box :thrombocytopenia %>
    	    <%= comment_fields.label :thrombocytopenia %>
    	  </div>
	  	</td>

    </tr><tr>

			<td>
    	  <div class="field">
    	    <%= comment_fields.check_box :vw_disease %>
    	    <%= comment_fields.label :vw_disease %>
    	  </div>
	  	</td>

	  	<td>
    	  <div class="field">
    	    <%= comment_fields.check_box :factor_deficiency %>
    	    <%= comment_fields.label :factor_deficiency %>
    	  </div>
	  	</td>

	  	<td>
    	  <div class="field">
    	    <%= comment_fields.label :hemophilia_free_text %><br />
    	    <%= comment_fields.text_field :hemophilia_free_text %>
    	  </div>
	  	</td>

    </tr>
	</table>
</div>
